.bl-splash-screen__any-button {
    margin-bottom: var(--appui-sizing-300);
    transition-duration: 1.5s;
    align-self: center;
    position: absolute;
    bottom: 0;
}

.bl-splash-screen__any-button-flash {
    color: var(--appui-foregrounds-25);
}

.bl-menu-view {
}
